// Importer les variables de couleurs
@use '../utils/variables' as variables;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family: 'Montserrat', sans-serif;
}

body {
  // background-color: rgb(162, 147, 147);
}